[submodule "Ruby.tmbundle"]
	path = Ruby.tmbundle
	url = git@github.com:die-antwort/ruby.tmbundle.git
[submodule "Themes.tmbundle"]
	path = Themes.tmbundle
	url = git@github.com:die-antwort/themes.tmbundle.git
[submodule "Ruby on Rails.tmbundle"]
	path = Ruby on Rails.tmbundle
	url = git@github.com:die-antwort/ruby-on-rails-tmbundle.git
[submodule "HTML.tmbundle"]
	path = HTML.tmbundle
	url = git@github.com:die-antwort/html.tmbundle.git
[submodule "Text.tmbundle"]
	path = Text.tmbundle
	url = git@github.com:die-antwort/text.tmbundle.git
[submodule "JavaScript JSLintMate.tmbundle"]
	path = JavaScript JSLintMate.tmbundle
	url = git@github.com:die-antwort/jslintmate.git
[submodule "JavaScript.tmbundle"]
	path = JavaScript.tmbundle
	url = git@github.com:die-antwort/javascript.tmbundle.git
[submodule "Shell Script.tmbundle"]
	path = Shell Script.tmbundle
	url = git@github.com:die-antwort/shellscript.tmbundle.git
[submodule "Source.tmbundle"]
	path = Source.tmbundle
	url = git@github.com:die-antwort/source.tmbundle.git
[submodule "SCSS.tmbundle"]
	path = SCSS.tmbundle
	url = git@github.com:die-antwort/SCSS.tmbundle.git
[submodule "Cucumber.tmbundle"]
	path = Cucumber.tmbundle
	url = git@github.com:die-antwort/cucumber-tmbundle.git
[submodule "Jade.tmbundle"]
	path = Jade.tmbundle
	url = git@github.com:die-antwort/jade-tmbundle.git
[submodule "CSS.tmbundle"]
	path = CSS.tmbundle
	url = git@github.com:die-antwort/css.tmbundle.git
[submodule "Hyperlink Helper.tmbundle"]
	path = Hyperlink Helper.tmbundle
	url = git@github.com:die-antwort/hyperlink-helper.tmbundle.git
[submodule "RSpec.tmbundle"]
	path = RSpec.tmbundle
	url = git@github.com:die-antwort/rspec-tmbundle.git
[submodule "TODO.tmbundle"]
	path = TODO.tmbundle
	url = git@github.com:die-antwort/todo.tmbundle.git
[submodule "PHP.tmbundle"]
	path = PHP.tmbundle
	url = git@github.com:die-antwort/php.tmbundle.git
[submodule "markdown-redcarpet.tmbundle"]
	path = markdown-redcarpet.tmbundle
	url = https://github.com/streeter/markdown-redcarpet.tmbundle.git
[submodule "bundler.tmbundle"]
	path = bundler.tmbundle
	url = git@github.com:die-antwort/bundler.tmbundle.git
[submodule "Sass.tmbundle"]
	path = Sass.tmbundle
	url = https://github.com/die-antwort/sass-textmate-bundle.git
[submodule "Stylus.tmbundle"]
	path = Stylus.tmbundle
	url = git://github.com/jameswomack/Stylus-TextMate-Bundle.git
[submodule "Haml.tmbundle"]
	path = Haml.tmbundle
	url = https://github.com/die-antwort/handcrafted-haml-textmate-bundle.git
[submodule "Ruby-Slim.tmbundle"]
	path = Ruby-Slim.tmbundle
	url = git://github.com/slim-template/ruby-slim.tmbundle.git
[submodule "Merge-Markers.tmbundle"]
	path = Merge-Markers.tmbundle
	url = git@github.com:noniq/Merge-Markers.tmbundle
