[submodule "Ruby.tmbundle"]
	path = Ruby.tmbundle
	url = git@github.com:die-antwort/ruby.tmbundle.git
[submodule "Themes.tmbundle"]
	path = Themes.tmbundle
	url = git@github.com:die-antwort/themes.tmbundle.git
[submodule "Ruby on Rails.tmbundle"]
	path = Ruby on Rails.tmbundle
	url = git@github.com:die-antwort/ruby-on-rails-tmbundle.git
[submodule "HTML.tmbundle"]
	path = HTML.tmbundle
	url = git@github.com:die-antwort/html.tmbundle.git
[submodule "Text.tmbundle"]
	path = Text.tmbundle
	url = git@github.com:die-antwort/text.tmbundle.git
[submodule "JavaScript JSLintMate.tmbundle"]
	path = JavaScript JSLintMate.tmbundle
	url = git@github.com:die-antwort/jslintmate.git
[submodule "JavaScript.tmbundle"]
	path = JavaScript.tmbundle
	url = git@github.com:die-antwort/javascript.tmbundle.git
[submodule "Shell Script.tmbundle"]
	path = Shell Script.tmbundle
	url = git@github.com:die-antwort/shellscript.tmbundle.git
[submodule "Source.tmbundle"]
	path = Source.tmbundle
	url = git@github.com:die-antwort/source.tmbundle.git
[submodule "SCSS.tmbundle"]
	path = SCSS.tmbundle
	url = git@github.com:die-antwort/SCSS.tmbundle.git
[submodule "Cucumber.tmbundle"]
	path = Cucumber.tmbundle
	url = git@github.com:die-antwort/cucumber-tmbundle.git
