[submodule "Ruby.tmbundle"]
	path = Ruby.tmbundle
	url = git@github.com:die-antwort/ruby.tmbundle.git
[submodule "Themes.tmbundle"]
	path = Themes.tmbundle
	url = git@github.com:die-antwort/themes.tmbundle.git
[submodule "Ruby on Rails.tmbundle"]
	path = Ruby on Rails.tmbundle
	url = git@github.com:die-antwort/ruby-on-rails-tmbundle.git
[submodule "HTML.tmbundle"]
	path = HTML.tmbundle
	url = git@github.com:die-antwort/html.tmbundle.git
