<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fgrsna@qvr-nagjbeg.rh</string>
	<key>contactName</key>
	<string>Stefan Daschek</string>
	<key>description</key>
	<string>DIE ANTWORT's bundle.</string>
	<key>name</key>
	<string>DA</string>
	<key>uuid</key>
	<string>EFED52B9-0B40-47E6-8B70-CEE70D83EE55</string>
</dict>
</plist>
